@(header: Html)(navigation: Html)(navigation_app: Html)(data: String)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
		
    </head>
    <body>
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
	    	<!-- Navigation -->
	    	@navigation_app
	
			<!-- Content -->
			<div id="appWrapper" align="center">
		        <br />
		        <h2>Boat informations</h2>
		        <br />
		        <div class="container-fluid">
		        	<form class="form-horizontal"> 
		            	<div class="row well" style="margin-left: 15%;margin-right: 15%;">
		            		<div class="span4" align="center">	            		
			            		<div class="control-group">
			            			<label class="control-label">Boat name</label>
			            			<input class="input-medium" type="text" name="bootname" id="bootname" />
			            		</div>
			            		<div class="control-group">
			            			<label class="control-label">Build year</label>
			            			<input class="input-medium" type="text" name="baujahr" id="baujahr" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Designer</label>
			            			<input class="input-medium" type="text" name="konstrukteur" id="konstrukteur" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Register number</label>
			            			<input class="input-medium" type="text" name="registernummer" id="registernummer" />
			                    </div> 
			                    <div class="control-group">
			            			<label class="control-label">Owner</label>
			            			<input class="input-medium" type="text" name="eigner" id="eigner" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Yacht club</label>
			            			<input class="input-medium" type="text" name="yachtclub" id="yachtclub" />
			                    </div>        
		            		</div>
		            		<div class="span4">
		            			<div class="control-group">
			            			<label class="control-label">Type</label>
			            			<input class="input-medium" type="text" name="typ" id="typ" />
			            		</div>
			            		<div class="control-group">
			            			<label class="control-label">Rig Type</label>
			            			<input class="input-medium" type="text" name="rigart" id="rigart" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Callsign</label>
			            			<input class="input-medium" type="text" name="rufzeichen" id="rufzeichen" />
			            		</div>
			            		<div class="control-group">
			                    	<label class="control-label">Sail sign</label>
			            			<input class="input-medium" type="text" name="segelzeichen" id="segelzeichen" />
			                    </div>
			                    <div class="control-group">
			                    	<label class="control-label">Insurance</label>
			            			<input class="input-medium" type="text" name="versicherung" id="versicherung" />
			                    </div>
			                    <div class="control-group">
			                    	<label class="control-label">Home port</label>
			            			<input class="input-medium" type="text" name="heimathafen" id="heimathafen" />
			                    </div>
		            		</div>
		            		<div class="span4">
		            			<div class="control-group">
			            			<label class="control-label">Witdh</label>
			            			<input class="input-medium" type="text" name="breite" id="breite" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Length</label>
			            			<input class="input-medium" type="text" name="laenge" id="laenge" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Motor</label>
			            			<input class="input-medium" type="text" name="motor" id="motor"/>
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Fuel tank</label>
			            			<input class="input-medium" type="text" name="tankgroesse" id="tankgroesse" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Fresh water tank</label>
			            			<input class="input-medium" type="text" name="wassertankgroesse" id="wassertankgroesse" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Sewage tank</label>
			            			<input class="input-medium" type="text" name="abwassertankgroesse" id="abwassertankgroesse" />
			                    </div>		      
			                                          
		            		</div>
		            		<div class="span4">
		            			<div class="control-group">
			            			<label class="control-label">Draft</label>
			            			<input class="input-medium" type="text" name="tiefgang" id="tiefgang" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Mast height</label>
			            			<input class="input-medium" type="text" name="masthoehe" id="masthoehe" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Spi size</label>
			            			<input class="input-medium" type="text" name="spigroesse" id="spigroesse" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Displacement</label>
			            			<input class="input-medium" type="text" name="verdraengung" id="verdraengung" />
			                    </div>
			                    <div class="control-group">
			            			<label class="control-label">Genua size</label>
			            			<input class="input-medium" type="text" name="genuagroesse" id="genuagroesse" />
			                    </div>	
			                    <div class="control-group">
			            			<label class="control-label">Main sail size</label>
			            			<input class="input-medium" type="text" name="grosssegelgroesse" id="grosssegelgroesse" />
			                    </div>	      
		            		</div>
		            	</div>      	 
		            	<div class="control-group">
			            	<input type="reset" class="btn" id="delete" value="Delete" class="button"/>
			                <input type="submit" class="btn" id="save" name="submit" value="Save" class="button"/>
			            </div>  
		        	</div>
		        </div>   
		        </form>
		        <br />
		        <br />
		        <div class="appTableDiv" align="center">
		            <table class="appTable table table-hover" cellspacing="0px" cellpadding="5px">
		                <thead>
		                    <tr>
		                        <th>Boat name</th>
		                        <th>Boat type</th>
		                        <th>Designer</th>
		                        <th>Build year</th>
		                        <th>Home port</th>
		                        <th>Length</th>
		                        <th>Width</th>
		                        <th>Draft</th>
		                        <th>Owner</th>
		                        <th></th>
		                    </tr>
		                </thead>
		                <tbody id="entries_boat">
			                @Html(data)
		                </tbody>
		            </table>
		            <br /><br />
		        </div>
			</div><!-- Content -->   
		</div><!-- Container -->
	
		<!-- Menu Modal -->
		<div class="modal hide fade" id="messageBox">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="dialogTitle"></h3>
			</div>
			<div class="modal-body">
				<p id="dialogMessage"></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i> ok</a>
			</div>
		</div>
		
		<!-- Additional Scripts -->
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/ajax/boatinfo.js")" type="text/javascript"></script>
				
		<script src="@routes.Assets.at("javascripts/app/map/labels.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_routes.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/validation.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/contextMenu.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/TxtOverlay.js")" type="text/javascript"></script>
	</body>
</html>