@(header: Html)(header_app: Html)(navigation: Html)(navigation_app: Html)

<!DOCTYPE html>

<html lang="de">
    <head>
    
    	<!-- Header -->
        @header
        
        <!-- Header App -->
        @header_app
        
    </head>
    <body onload="initialize();">
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
    		<!-- Navigation -->
    		@navigation_app

			<!-- Route Menu -->
			<div id="routeMenuContainer" style="display: none;">
		    	<div id="routeMenu" class="well">
		    		<h4>Routen Menü</h4>
	            	<div class="btn-group btn-group-vertical">
                        <input type='text'   class="routeInfoInput" id='titel'   placeholder='Titel' size='30' maxlength='30'/><br/>
                        <input type='text'   class="routeInfoInput" id='von'     placeholder='From Location' size='30' maxlength='60'/><br/>
                        <input type='text'   class="routeInfoInput" id='nach'    placeholder='To Location' size='30' maxlength='60'/><br/>
	                    <input type="button" class="routeInfoInput btn" value="Save Route" id="saveRouteButton" class="routeButton" onclick="javascript: saveRoute()" />
	                    <input type="button" class="routeInfoInput btn" value="Hide Route" id="deleteRouteButton" class="routeButton" onclick="javascript: deleteRoute()" />
                        <input type="button" class="routeInfoInput btn" value="Start Tracking" id="startTrackingButton" class="routeButton" onclick="" />                        
	                    <input type="button" class="routeInfoInput btn" value="Quit Menu" id="stopRouteButton" class="routeButton" onclick="javascript: stopRouteMode()" />
		            </div>
		        	<br><br>
		            <div id="route_distance">Routen-L&auml;nge: <span id="route_distance_number"></span> m</div>
		        </div>
		    </div>
		    
		    <!-- Distance Menu -->
		    <div id="distanceToolContainer" style="display: none;">
		        <div id="distanceToolMenu" class="well">
		        	<h4>Distanztool</h4>
		        	<input type="button" class="btn" value="beenden" id="stopDistanceToolButton" class="distanceToolbutton" onclick="javascript: stopDistanceToolMode()" />
		        	<br><br>
		        	<div id="distanceTool_distance">Distanz: <span id="distanceTool_number"></span> m</div>
		        </div>
		    </div>
		    
		     <!-- Navigation Menu -->
		    <div id="navigationContainer" style="display: none;">
		        <div id="navigationMenu" class="well">
		        	<h4>Navigation</h4>
		        	<input type="button" class="btn" value="beenden" id="stopNavigationButton" class="distanceToolbutton" onclick="javascript: stopNavigationMode()" />
		        	<br><br>
		        	<div id="navigation_distance">Distanz: <span id="navigation_number"></span> m</div>
		        </div>
		    </div>
		    
    		<!-- Tracking Menu -->
    		<div id="trackingMenuContainer" style="display: none;">
            	<div id="trackingMenu" class="well">
            		<h4>Tracking Menu</h4>
	            	<div class="btn-group btn-group-vertical">
                        <input type='text'   class="trackInfoInput" id='trackTitel'   placeholder='Titel' size='30' maxlength='30'/><br/>
                        <input type='text'   class="trackInfoInput" id='skipper' placeholder='Skipper' size='30' maxlength='30'/><br/>
                        <input type='text'   class="trackInfoInput" id='crew'    placeholder='Crew' size='30' maxlength='30'/><br/>
                        <input type='text'   class="trackInfoInput" id='tstart'  placeholder='Start of tracking' size='30' maxlength='30'/><br/>
                        <input type='text'   class="trackInfoInput" id='tende'   placeholder='End of tracking' size='30' maxlength='30'/><br/>
                        <input type='text'   class="trackInfoInput" id='tdauer'  placeholder='Tracking duration' size='30' maxlength='30'/><br/>
	                    <input type="button" class="trackInfoInput btn" value="Save Track" id="saveTrackButton" class="routeButton" onclick="javascript: saveTrackingRoute()" />
	                    <input type="button" class="trackInfoInput btn" value="Hide Track" id="deleteTrackButton" class="routeButton" onclick="javascript: deleteTrack()" />                      
	                    <input type="button" class="trackInfoInput btn" value="Quit Menu" id="stopTrackingButton" class="routeButton" onclick="javascript: stopTrackingMode()" />
	                </div>
	            	<br><br>
	                <div id="tracking_distance">Track lenght: <span id="tracking_number"></span> m</div>
	            </div>
	        </div>
			    
		    <!-- Map -->
	        <div id="appWrapper" style="border: 1px solid #DEE3E5;margin-bottom: 20px;">
	            <div id="map_canvas">
                
                </div>
                
                <div id="map_overlay" style="display: none;">

                </div>
                
                <div id="weatherForecast_overlay" style="display: none;">

                </div>
            </div>
		
		    <!-- Context Menus -->
	        <div id="temporaryMarkerContextMenu"></div>
	        <div id="fixedMarkerContextMenu"></div>
	        <div id="routeContextMenu_active" class="routeContextMenu_active"></div>
	        <div id="routeContextMenu_inactive" class="routeContextMenu_inactive"></div>
	        <div id="trackingContextMenu_active" class="trackingContextMenu_active"></div>
	        <div id="trackingContextMenu_inactive" class="trackingContextMenu_inactive"></div>
			
		</div><!-- Container -->
		
		<!-- Menu Modal -->
		<div class="modal hide fade" id="messageBox">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="dialogTitle"></h3>
			</div>
			<div class="modal-body">
				<p id="dialogMessage"></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i> ok</a>
			</div>
		</div>
        
        <div class="messageBox infoMessageBox" id="infoMessageBox" style="display: none;">
            <div class="infoMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="infoMessageBoxText">Some info msg.</div>
        </div>
        
        <div class="messageBox successMessageBox" id="successMessageBox" style="display: none;">
            <div class="successMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="successMessageBoxText">Some success msg.</div>
        </div>
        
        <div class="messageBox warningMessageBox" id="warningMessageBox" style="display: none;">
            <div class="warningMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="warningMessageBoxText">Some warning msg.</div>
        </div>
        
        <div class="messageBox errorMessageBox" id="errorMessageBox" style="display: none;">
            <div class="errorMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="errorMessageBoxText">Some error msg.</div>
        </div>
		
		<!-- Additional Scripts -->
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-affix.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-collapse.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/messageBox/messageBox.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/app/map/labels.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/tracking.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/validation.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/contextMenu.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/TxtOverlay.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app/map/map_routes.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/site/loggedin.js")" type="text/javascript"></script>
	</body>
</html>