@(header: Html)(navigation: Html)(navigation_app: Html)(data: String)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
        
    </head>
    <body>
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
	    	<!-- Navigation -->
	    	@navigation_app

			<!-- Content -->
			<div id="appWrapper" align="center">
	            <div class="appTableDiv" id="appRoutelist" align="center">
	                <table class="appTable table table-hover" id="tableLinesClickable" cellspacing="0px" cellpadding="5px">
	                    <thead>
	                        <tr>
	                            <th>Titel</th>
	                            <th>From</th>
	                            <th>To</th>   
	                            <th></th>
	                        </tr>
	                    </thead>
	                    <tbody id="entries">
	                        @Html(data)
	                    </tbody>
	                </table>
	            </div>    
	        </div><!-- Content --> 
		</div><!-- Container -->
		
		<!-- Menu Modal -->
		<div class="modal hide fade" id="messageBox">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="dialogTitle"></h3>
			</div>
			<div class="modal-body">
				<p id="dialogMessage"></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal"><i class="icon-ok"></i> ok</a>
			</div>
		</div>
		
		<!-- Additional Scripts -->
		<script src="@routes.Assets.at("javascripts/app/ajax/trip.js")" type="text/javascript"></script>		
    </body>
</html>