@(header: Html)(navigation: Html)(navigation_app: Html)(data: String)

<!DOCTYPE html>

<html>
    <head>
    
    	<!-- Header -->
        @header
        
    </head>
    <body>
    
    	<!-- Navigation -->
    	@navigation
    	
    	<!-- Container -->
    	<div class="container-fluid">
    	
	    	<!-- Navigation -->
	    	@navigation_app

			<!-- Content -->
			<div id="appWrapper" align="center">
	            <div class="appTableDiv" id="appRoutelist" align="center">
	                <table class="appTable table table-hover" id="tableLinesClickable" cellspacing="0px" cellpadding="5px">
	                    <thead>
	                        <tr>
	                            <th>Titel</th>
	                            <th>From</th>
	                            <th>To</th>   
	                            <th></th>
	                        </tr>
	                    </thead>
	                    <tbody id="entries">
	                        @Html(data)
	                    </tbody>
	                </table>
	            </div>    
	        </div><!-- Content --> 
		</div><!-- Container -->
        
        <div class="messageBox infoMessageBox" id="infoMessageBox" style="display: none;">
            <div class="infoMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="infoMessageBoxText">Some info msg.</div>
        </div>
        
        <div class="messageBox successMessageBox" id="successMessageBox" style="display: none;">
            <div class="successMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="successMessageBoxText">Some success msg.</div>
        </div>
        
        <div class="messageBox warningMessageBox" id="warningMessageBox" style="display: none;">
            <div class="warningMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="warningMessageBoxText">Some warning msg.</div>
        </div>
        
        <div class="messageBox errorMessageBox" id="errorMessageBox" style="display: none;">
            <div class="errorMessageBoxPicture span4"></div>
            <div class="defaultMessageBoxText span8" id="errorMessageBoxText">Some error msg.</div>
        </div>
		
		<!-- Additional Scripts -->
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.js")" type="text/javascript"></script>
		
		<script src="@routes.Assets.at("javascripts/messageBox/messageBox.js")" type="text/javascript"></script>	
		<script src="@routes.Assets.at("javascripts/app/ajax/trip.js")" type="text/javascript"></script>	
	
    </body>
</html>