
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<br>
			<div class="span4">
				<h4>Where to get Seapal</h4>
				<p>
					Seapal is available in the following stores.
				</p>
				<div>
					<a href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4" target="itunes_store"><img src="@routes.Assets.at("images/icons/seapal_normal.png")" alt="Icon-Small-50" style="width:50px;height:50px;margin-right:5px;">iPad App Store</a></li>
					<br>
					<br>
					<a href="http://itunes.apple.com/us/app/seapal/id561903907?mt=8&amp;uo=4" target="itunes_store"><img src="@routes.Assets.at("images/icons/seapal_normal.png")" alt="Icon-Small-50" style="width:50px;height:50px;margin-right:5px;">iPhone App Store</a></li>		
				</div>
			</div>
			<div class="span4">
				<h4>Help us promote SeaPal</h4>
				<div class="g-plus" data-href="https://plus.google.com/100825752167882077539"></div>
				<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.SeaPal.info" data-send="true" data-width="300" data-show-faces="true" fb-xfbml-state="rendered"><span style="height: 28px; width: 300px; "><iframe id="f179f2c544" name="f324c881c8" scrolling="no" style="border: none; overflow: hidden; height: 28px; width: 300px; " title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D18%23cb%3Dfaf249d74%26origin%3Dhttp%253A%252F%252Fseapal.info%252Ff395176298%26domain%3Dseapal.info%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.SeaPal.info&amp;node_type=link&amp;width=300&amp;layout=standard&amp;colorscheme=light&amp;show_faces=true&amp;send=true&amp;extended_social_context=false"></iframe></span>
				</div>
				<div>
					<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1355514129.html#_=1356941711205&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fseapal.info%2F&amp;size=m&amp;text=SeaPal&amp;url=http%3A%2F%2Fseapal.info%2F" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px; " title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<div class="span4">
				<h4>Further Informations</h4>
				<p>
					SeaPal is a cooperation that is open for participation. If you have ideas for extensions or want to provide content, please send us a message.
				</p>
				<ul class="list-style2" style="list-style:none; margin-left:0px;">
					<li class="first"><a href="impressum.html">Impressum</a></li>
					<li><a href="legal.html">Legal notice</a></li>
				</ul>
			</div>
		</div>
		<div class="container" align="center">
			<p style="text-align:center;margin-top:30px;">&copy; 2012 IBN Verlag</p>
		</div>
	</footer>
	
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-transition.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-button.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-collapse.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-affix.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-modal.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/holder.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/prettify.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/widgets.js")" type="text/javascript"></script>