<!-- Header -->
<title>Seapal</title>
<meta charset="utf-8">
<meta http-equiv='content-type' content='text/html; charset=utf-8'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/layout.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-responsive.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/custom/custom.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/messageBox/messageBox.css")">

<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icons/seapal_normal.png")">

<!-- Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'/>  

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7id-7KJMIlffdUtf_4RXxLUq3JO7XNxE&libraries=geometry&sensor=false"></script>   
<script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/js-session/json-serialization.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/js-session/session.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/js-session/mySession.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/jquery/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/site/scroll.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-carousel.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-dropdown.js")" type="text/javascript"></script>


