#wrapper {
    width: 100%;
	height: 400px;
    position: relative;
    left: 0;
    top: 40px;
    overflow: hidden;
}

#carousel img {
    background-color: #fff;
    border: none;
    display: block;
    padding: 15px;
    margin: 30px;
    float: left;
    box-shadow: 0 0 20px #000;

}
#carousel .empty {
    display: block;
    width: 600px;
    height: 400px;
    float: left;
}

#bar {
    background-color: transparent;
    text-align: center;
    width: 100%;
    position: relative;
    top: 10px;
    left: 0;
	margin-bottom: 80px;
}
#bar * {
    color: #333;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#bar span {
	line-height: 52px;
}

#prev, #next {
    margin-top: 0px;
    font-size: 50px;
    color: #333;
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
}
#prev:hover, #next:hover {
    background-color: #fff;
}
#prev.disabled, #next.disabled {
    background-color: transparent !important;
    cursor: default;
    opacity: 0.1;
}
#prev {
    left: 0;
}
#next {
    right: 0;
}