
label {
    color: #DEE3E5;
    margin-left: 20px;
}

#map_overlay, #weatherForecast_overlay {
    width:145px;
    height:185px;
    position:absolute;
    left:145px;
    top:13%;
    margin:-100px 0 0 -140px;
    align: left;

    border-color: #DEE3E5;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #000000;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 20.065);
    webkit-border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 20.065);
    
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#weatherForecast_overlay {
    left:320px;
    width:700px;
    height:105px;
}

#map_canvas {
    width: 100%;
    min-height: 800px;
    margin: auto;
}

#appWrapper {
    width: 100%;
    height: 80%;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #DEE3E5;
    position: relative;
}

#context-menu {
    display: none;
}

.coordinate_info_box {
    position: absolute;
    font-weight: bold;
}

#routeMenuContainer, #distanceToolContainer, #followCurrentPositionContainer, #navigationContainer , #trackingMenuContainer {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#followCurrentPosition_button {
    position: absolute;
    z-index: 2;
}

#routeMenu, #distanceToolMenu, #navigationMenu, #trackingMenu {
    position: absolute;
    z-index: 2;
    white-space: nowrap;
    text-align: center;
}

.routeInfoInput, .trackInfoInput {
    width:180px;
}

#route_distance, #distanceTool_distance, #navigation_distance, #tracking_distance {
    font-weight: bolder;
}

.markerInfoBox {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
}
        
#temporaryMarkerInfobox {
    padding: 5px 5px 5px 5px;
}
        
#fixedMarkerInfobox {
    padding: 3px 3px 3px 3px;
}
        
.context-menu-root {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 5px;
}
        
#routeMenuContainer, #distanceToolContainer, #followCurrentPositionContainer, #navigationContainer , #trackingMenuContainer {
    float: right;
}
        
#routeMenu, #distanceToolMenu, #navigationMenu, #trackingMenu  {
    width: 208px;
    padding: 5px 5px 5px 5px;
    margin-left: 86.5%;
    margin-top: 40px;
    

    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #000000;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    webkit-border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
        
.routeButton {
    padding-top: 5px;
}
 
#followCurrentPosition_button {
    padding: 5px 5px 5px 5px;
    margin-top: 7px;
    margin-left: 7px;
}



