/*clear fix definition to positionate the div's from the left to the right*/

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}

.left {
width: 100px;
height: 105px;
float: left;
}